{
  "report-dir": "dist/coverage",
  "all": true,
  "exclude": ["dist/**"],
  "include": ["src/**/*.ts"],
  "require": ["ts-node/register"],
  "extension": [".ts"],
  "temp-directory": "dist/coverage/temp"
}
