language: node_js

node_js:
  - '8'
  - '7'
  - '6'

script:
  - npm run ci:build
  - npm run ci:lint
  - npm run ci:test

before_deploy:
  - npm run ci:docs
  - touch dist/docs/.nojekyll
  - mv dist/src/* .

deploy:
  - provider: pages
    local_dir: dist/docs
    github_token:
      secure: LWfUtVyHJFGNTJ+dw/vqJCFNKVeiOR3Hb7C7Cwzp8ej06Jb6MAVTkLkvc0AFjpXsQyWNy1gifuav3CbD5c0AtvoV0ow7w6D/RlLpfUzIS2wWUYA0PvbnR7/JVv0+QF9aL7DfkZBVD16PI0aAX7xWVPscyHF4I+uS0WKJAm71wALcxODZrr+ClJSnpIYw5Ld3EuBTbtmbOXz+tg7ZlbFAeiBXIi/oEcnEh9lobB9SyLjH3q8ExWh/Lx/QRp+4MAc4XnRixlMqLO46O6GD4hmljlI7vNJZGjaEc9FmwYLy6Glzfp1ft376k7EiwhMLge9lJLaxL4Xik9AR0RyVyRjiywWmGI/r5jW2ajFyfU9GoU1B6SzUEayRoELAPp2s9/4p9EC2dlbHpra8UM80sGtV5JY59X76gX7cQb7ULSiX/J943UB3ZSBwQaDd45iubVsnEuvdeQgG+jsF2Q+zJB56oWlcVRyjN5AEHYmrrb7noUHhHIv8br3bHUKPaI7JG3i+5GhObtaz0uf4IzukBrvkDq/HfAYjRKioZuFAIHpnpXbL28S+DiTkYzSD6n0zKzCEeGLvA9WMXeQNSVez6gV53DDRO0kaOoaWmzAg2VDulH934AXnbBjvZZk4D9Vtz20SwFCyzXqTKFlmXB3F7RXs5RZ/Tmke/hIXKH2MgIM/jMw=
    skip_cleanup: true
    on:
      branch: master
  - provider: npm
    email:
      secure: dkxn1aw2fYrx8QYkrY+IbxGTZO1oMozYDEcG/wtTtg4S7U/reVaCQhB5gVHjQltmnywlUWHcwcJo/3I8DGcJ2E/Ws/H+s2tHNI6Kn/YSOukeuSDum4a6tsbiHAsMHNF44nVaBUUW5pYGxA9nwI4sNOt3EMOe8ayGu4BHDYz28V3hCyKIisDzuPorV5Zyb8muiUzc0quawvCrOR2BdVv0jV/gqyCiuomhXJSBHTWpeQttDU4cRg9TAsMRXEJI02TwWFlTvc+fMuFRFPVyeYQODGgX5KWyRdzjzIEOcs+C7PNxElAI+5TM8ItAS+PWtqjnbLb92seYKZ+3aQrRmzuxIZPEKGpLn7x77oIjM4F46uKignMH3ycXoCKpte8DxFn4PJ6kuxpqeV6ciJsX+fpBU7e9AaET6XK1JOTVzRzE2t/ajCGoadKtgtch6seUL/U/NyHCCxC1DZZE0yczINWw6US98t5w8A8O7Cn+Wx7AFdGXVIQ0mi5HPwBwCtIGSktjOGl/qq7ITOLHBDfzY/mWh+eEBUEuOEhvZIH3dS+m+31F8PBnySBKUrSn5768t/TmRBHIjwL/SaEGAGeApYhAQ29c/VokJ7GskuzxEZVXtvSI9yCadsoJlPQK+kQBffgVZxSScdyBg8Wtd6++sj8q7Tkk0XileW6OU0IB2l4tb0c=
    api_key:
      secure: k2gvkkyVeAF2np5E8knpPI4Ed0nwMy8mtFhBeTXE8RSa4H/fO9zFYPYVCZ9W1OysaBZ2gjgsmXMIloG+bJYXxFF/HkeuJ96Zqj7tB1seGXOWEW8RTPtv7Aswymy7ohKJ1+EdwfBwfn35pKq3/pp7ggs/8qvhOU+KcLumDw7W6VDPnX3eDFRBd0LpYL0oC8lMSFSSR8tfBBnVrcdAi7ZMleSl5nHDK6RpnNHQbaM6gYcqMmSby+DmD307e9Hw79uK3d9UbI7KJ8YYPhUudYh+cKCabG3c8CErKPkRQ6+LDxOmsjYwiC2hBgFd6JSmpcpiphA9FAKSizw713fNqisPuWTMPzXYMzqeuVURA2SZZG0rahwXFJURKoPrSUTmISDjK5Bp5rKwikV71To2vqJ2sRNoILJatLQ+wg85oFaFXVQv4uxtva+sxxogFND7gEzLhvCkrWnuMpBzfUxdR7OLIbMcbtWs2o0BTekRFazv+ZC/zged2gYJxNbIbTpgL97Zb9Se7w0otcOwyXs3u6WRA9y/QmPp6P4TlwAyhNe3efC1DsbYhQqNh/wMCfXRwZkR5jXxM1xoL+Teq4ViKVHsnEP9zmKdbaBpIpgP2jpk293iA+2J2vLHnvfNYSap7BoB4b5XMce37oTh9g6iTr7cBGRpNq9EKNAqKh/IWxn0XRk=
    skip_cleanup: true
    on:
      tags: true

notifications:
  email: false
  slack:
    secure: N18EJUyjMZA6PykhatqGnC+3BUaz5r7HxqPUcn13UkGpDHcpPyUeBIeAa5QkG4t2tD8EIJ+Ux2qXPJKpxvwvAMdh6i+Et8zvWdzjXs8VbQYcFjIjP8dOrwaCfOia34he7IKXXdzNsN9UZvcWYpJLyB11ELE9voio8o9DE1sbmEdYYEwoVB86OpX28w/gawSNkJExtZzZPN8kDKpAtKvs10ofXzTlTofKBiVuocn6ixW9akyT7PIIfhuQl9iQscf6LlyP0z4LBUnKB04tHA6e+GFBA06SPreIL2jvaAXTNThRk8h9m43QpEKfD7qc+arg7MAnZpxGkAufepS4GlWHQN3g2Akas1IvZQD8+RIaXnxS+KSaRIZh4JdjWd6oWGs3vS96U5GJU6whmIsbnJGurIGpaiVPRJ5Vkndc0XUVO/sSsmP5vyR/4ScEza2oIoBIo0AQnaPiZX5aHCk82Nq2nJM1zpN09f1LWpZRvnZojLZyiU0eMy2srSc/emM7l8u/vguKxPscb9lOqgidF+A/fiVtxj/CEL5/5SJldulCsVX4gG4q1VV5EfTxxkKAw0VuPD8bDkX12+SXrRrFi7YULA/ousVOHKA0i0ugVlecKrX5LCkTiCQk9Qmky4+p2U2AyZu9ke2apzxrH3g7ex6vuxWYv2t9oK8TS2SfE06GwcI=
